{% extends "info_section.html" %}

{% block institution %}Alfred{% endblock %}

{% block header_style %}
"color: #fff; background: url('/static/images/alfred_logo_100_100.png') top right 0% no-repeat #000;"
{% endblock %}


{% block date %}Oct 2016 – Current{% endblock %}

{% block image %}
<img class="img-circle info-img shadow" src="/static/images/alfred_logo_100_100.png">
{% endblock %}

{% block body_title %}Facebook Messenger Smarthome Chatbot{% endblock %}

{% block body %}
Developed a Facebook Messenger chatbot that could control several smarthome devices with natural language. Integrated with Samsung Smartthings to control lights, camera, door/window sensors, and motion sensors. This is an on going project that began as a senior design project but I have continued to develop as I use Alfred around my home.
{% endblock %}