{% extends "info_section.html" %}

{% block title %}{% endblock %}

{% block institution %}Educational Toy{% endblock %}

{% block date %}Jan 2014 – Apr 2014{% endblock %}

{% block image %}
<img class="img-circle info-img shadow" src="/static/images/motorized_car_logo_100_100.png">
{% endblock %}

{% block body_title %}GUI Controlled Motorized Car{% endblock %}

{% block body %}
Developed a GUI-controlled motorized car that could be used as an educational toy. The car could be programmed using a block programming language similarly to Lego Mindstorms. For this project, my group developed a full mouse-controlled GUI, path simulation system, and hardware/software interface.
{% endblock %}