.info-img {
    background-color: white;
    max-height: 30;
    max-width: 30;
}

.info-section {
    position: relative;
    clear: both;
}

.info-institution {

}

.info-date {

}

.info-body-title {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}

.info-body {

}

.img-circle {
    border-radius: 50%;

    max-height: 100px;
    max-width: 100px;
    margin: 10px;
}

.info-card.mdl-card {
  width: 320px;
  height: 320px;
}
.info-card > .mdl-card__title {
  color: #fff;
  background:
    url('/static/images/michigan_logo_100_100.png') top right 0% no-repeat #46B6AC;
}