.info-section {
    max-width: 900px;
    margin: auto;
}

.info-section > h1 {
	color: #fff;
}


.info-img {
    background-color: white;
    max-height: 30;
    max-width: 30;
}

.info-section {
    position: relative;
    clear: both;
}

.info-institution {

}

.info-date {

}

.info-body-title {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}

.info-body {

}

.img-circle {
    border-radius: 50%;

    max-height: 100px;
    max-width: 100px;
    margin: 10px;
}

.info-card.mdl-card {
  width: 350px;
  height: 350px;
}
.info-card > .mdl-card__title {
  height: 100px;
}

.info-card > .dark-logo {
	color: #fff
}

.info-card > .light-logo {
	color: #000;
}
