.info-body {

}

.info-card.mdl-card {
  width: 350px;
  height: 350px;
}

.info-card > .mdl-card__title {
  height: 100px;
}

.info-card > .dark-logo {
    color: #fff
}

.info-card > .light-logo {
    color: #000;
}

.info-date {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.info-institution {

}

.info-section {
    max-width: 900px;
    margin: auto;
}

.info-section > h1 {
    color: #000;
}
