body {
    font-family: "Avenir Next" !important;
}

.intro-img {
    /* The image used */
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("/static/images/lake_serene.jpg");
    background-repeat:  no-repeat;
    background-size:  cover;
    
    /* Set rules to fill background */
    position: relative;
    min-height: 754px;
    min-width: 1024px;
    max-width: 100%;
    max-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.intro-text {
    position: relative;
    color: white;

    background-color: #262C28;
    padding: 10px;

    border: solid #FFFFFF;
    border-width: 10 10px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}

.parallax { 
    /* The image used */
    background-image: url("/static/images/lake_serene.jpg");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-section {
    position: relative;
    clear: both;
}
