body {
    font-family: 'Catamaran', sans-serif !important;
    background-color: #f5f5f5 !important;
    color: #262C28 !important;
}

.container {
    max-width: 1280px;

    padding: 40px 180px;
    margin: 15px;

    background-color: #D1D8D9;
}

.intro-img {
    /* The image used */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url("/static/images/lake_serene.jpg");
    background-repeat:  no-repeat;
    background-size:  cover;
    
    /* Set rules to fill background */
    position: relative;
    min-height: 754px;
    min-width: 1024px;
    max-width: 100%;
    max-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.intro-text {
    position: relative;
    color: #fff;

    background-color: #004D40;
    padding: 10px;

    border: solid #D1D8D9;
    border-width: 10 10px;   
}

.header-image-row {
    min-height: 500px;
}

.site-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-bar {
    background-color: #004D40;
}

.parallax { 
    /* The image used */
    background-image: url("/static/images/lake_serene.jpg");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

