{% extends "info_section.html" %}

{% block institution %}University of Michigan{% endblock %}

{% block header_style %}
"background: url('/static/images/michigan_logo_100_100.png') top right 0% no-repeat #00274c;"
{% endblock %}

{% block date %}Sep 2013 – Apr 2017{% endblock %}

{% block body_title %}BSE, Computer Science{% endblock %}

{% block body %}
Will graduate summa cum laude with a degree in Spring 2017 . While at the university I had a focus on software development and design with relevant course work in object oriented design, operating systems, and distributed systems as well as a statistics minor with relavent course work in machine learning and analysis.
{% endblock %}