{% extends "info_section.html" %}

{% block institution %}Merit Network{% endblock %}

{% block header_style %}
"color: #fff; background: url('/static/images/microsoft_logo_100_100.png') top right 0% no-repeat #094285;"
{% endblock %}

{% block date %}January 2017 – May 2017{% endblock %}

{% block image %}
<img class="img-circle info-img shadow" src="/static/images/microsoft_logo_100_100.png">
{% endblock %}

{% block body_title %}Research Assistant{% endblock %}

{% block body %}
	While at Merit I helped with research directed by Dr. Michael (Michalis) Kallitsis focusing on the detection of malicious internet scanners using real-time streaming algorithms as apposed to off-line analysis.
{% endblock %}