{% extends "info_section.html" %}

{% block institution %}Quantcast{% endblock %}

{% block date %}Jun 2015 – Aug 2015{% endblock %}

{% block image %}
<img class="img-circle info-img shadow" src="/static/images/quantcast_logo_100_100.png">
{% endblock %}

{% block body_title %}Software Development Intern, Measure{% endblock %}

{% block body %}
	While at Quantcast I completed a proof of concept project showing new insights about measured audiences. In the process I developed map-reduce jobs to generate data, perform statistical analysis, and validate conclusions and
	worked to increase code efficiency to handle data sets of upwards of N billion records. Additionally I created data visualization tools that drastically reduced time spent on data quality validation team-wide.
{% endblock %}