{% extends "info_section.html" %}
{% block title %}Education{% endblock %}

{% block image %}
<img class="img-circle info-img" src="/static/images/2color-transparentbg.png">
{% endblock %}

{% block body %}
<p>University of Michigan September 2013 – April 2017</p>
<p>BSE, Computer Science</p>
<ul>
	<li>GPA: 3.98/4.00</li>
	<li>National Merit Scholar, 4-time Dean’s List and University Honors</li>
	<li>Relevant Coursework: Data Structures, Algorithms, Advanced Object Oriented Programming, Operating
Systems, Databases, Machine Learning, Linear Algebra, Discrete Math</li>
</ul>
{% endblock %}