<div class="mdl-mini-footer__left-section">
	<div class="mdl-logo">
		Download my resume 
		<a onclick="window.open('/static/pdf/jonathan_brelje_resume.pdf')">here</a>
	</div>
</div>
<div class="mdl-mini-footer__right-section">
	<div class="mdl-logo">Contact Me</div>
	<button id="show-email-footer" href="#" class="mdl-mini-footer__social-btn icon icon-email-white"></button>
	<button href="#" onclick="window.open('https://www.linkedin.com/in/jonathanbrelje')" class="mdl-mini-footer__social-btn icon icon-linkedin-white"></button>
	<button href="#" onclick="window.open('https://github.com/JonBrelje')" class="mdl-mini-footer__social-btn icon icon-github-white"></button>
</div>