<!doctype html>
<style type="text/css">
.intro-img {
    background-image: url('static/images/lake_serene.jpeg');
}
</style>

<html>
	<title>Jonathan Brelje</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/parallax.css') }}">

	<div class="intro-img">
		<div>
			<h1>Jonathan Brelje</h1>
			<h2>Software Developer</h2>
		</div>
	</div>

	{% include 'education.html' %}

	{% include 'work_experience.html' %}

	<div class=parallax></div>

	{% include 'projects.html' %}

	<div class=parallax></div>

	{% include 'skills.html' %}
</html>

