<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Education</h3>
  <p>University of Michigan</p>
  <p>BSE, Computer Science</p>
  <ul>
  	<li>GPA: 3.98/4.00</li>
  	<li>National Merit Scholar, 4-time Dean’s List and University Honors</li>
  	<li>Relevant Coursework: Data Structures, Algorithms, Advanced Object Oriented Programming, Operating
Systems, Databases, Machine Learning, Linear Algebra, Discrete Math</li>
  </ul>
</div>