<div class="info-card mdl-card mdl-cell mdl-shadow--2dp">
	<div class="mdl-card__title dark-logo" style="background: url('/static/images/michigan_logo_100_100.png') top right 0% no-repeat #00274c;">
		<h2 class="mdl-card__title-text">{% block institution %}{% endblock %}</h2>
	</div>
	<div class="mdl-card__supporting-text mdl-card--border">
		{% block date%}{% endblock %} | {% block body_title %}{% endblock %}
	</div>
	<div class="mdl-card__supporting-text">
		{% block body %}{% endblock %}
	</div>
</div>