<div class="container shadow">
 	{% block title %}{% endblock %}
 	<div class="col-md-3">
 		<h4 class=info-institution>{% block institution %}{% endblock %}</h4>
 		<p class=info-date>{% block date%}{% endblock %}</p>
 		<div class="col-md-3 text-center">
 			{% block image %} {% endblock %}
 		</div>
 	</div>
 	<div class="col-md-9">
 		<p>
			<strong class=info-title> {% block body_title %}{% endblock %}</strong>
			<span class=info-body>
				{% block body %}
  				{% endblock %}
			</span>
		</p>
	</div>
</div>