{% extends "info_section.html" %}
{% block title %}Education{% endblock %}

{% block body %}
<p>Triangle Fraternity May 2015 – January 2016</p>
<p>Vice President of Internal Operations</p>
<ul>
	<li>Led a focused team to maintain the chapter home and manage fraternity risk</li>
	<li>Managed a $100,000 budget to provide services necessary for the chapter such as internet, cable, lawn services, food service, and cleaning services.</li>
	<li>Instituted a new cleaning system that both reduced overall time spent on cleaning/maintenance by 25% while also achieving noticeably better results</li>
</ul>

<p>Kalamazoo Area Math and Science Center Programming Team September 2010 – April 2013</p>
<p>Team Captain</p>
<ul>
	<li>Led programming team to second place finish at the American Computer Science League International All-Star competition (Senior 5 division), the team's highest-ever finish</li>
	<li>Instituted new weekend practices, improving team performance across the board</li>
	<li>Led student recruitment, resulting in the largest team in KAMSC history</li>
</ul>
{% endblock %}