{% extends "info_section.html" %}
{% block title %}Projects{% endblock %}

{% block body %}
<p>GUI Controlled Motorized Car 2014</p>
<ul>
	<li>Developed a GUI-controlled motorized car to be used as an educational toy</li>
	<li>Developed full mouse-controlled GUI, path simulation system, and hardware/software interface</li>
</ul>

<p>Facebook Messenger Smarthome Chatbot 2014</p>
<ul>
	<li>Developed a Facebook Messenger chatbot that could control several smarthome devices with natural language</li>
	<li>Integrated with Samsung Smartthings to control lights, camera, door/window sensors, and motion sensors</li>
</ul>
{% endblock %}