{% extends "info_section.html" %}
{% block title %}Work Experience{% endblock %}

{% block body %}
<p>Microsoft May 2016 – August 2016</p>
<p>Software Development Intern, ODSP</p>
<ul>
	<li>Created framework used to track and monitor key performance metrics of newly deployed features</li>
	<li>Implemented a system to automatically push features to the next stage of deployment if metric thresholds were met, thus saving developer time during the deployment process</li>
</ul>

<p>Quantcast June 2016 – August 2016</p>
<p>Software Development Intern, Measure</p>
<ul>
	<li>Completed proof of concept project showing new insights about measured audiences</li>
	<li>Developed map-reduce jobs to generate data, perform statistical analysis, and validate conclusions</li>
	<li>Worked to increase code efficiency to handle data sets of upwards of N billion records</li>
	<li>Created data visualization tools that drastically reduced time spent on data quality validation team-wide</li>
</ul>

<p>Title Source May 2016 – August 2016</p>
<p>Software Development Intern, Nexsys</p>
<ul>
	<li>Developed both front and back end components of the Nexsys vendor management website (www.nexsysdatasolutions.com)</li>
	<li>Created, improved, and repaired site administration and maintenance pages</li>
</ul>
{% endblock %}