{% extends "skills/skill_card.html" %}

{% block title %}Languages{% endblock %}

{% block header_style %}
"color: #fff; background: url('/static/images/monitor_100_100.png') top right 0% no-repeat #E91E63;"
{% endblock %}

{% block body %}
	<ul>
		<li>
			<span class="skill-text">C++</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">Java</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">C#</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">C</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">Python</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">SQL</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>
			</div>
		</li>
		<li>
			<span class="skill-text">SQL</span>
			<div class="star-rating">
				<span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
		</li>
	</ul>
{% endblock %}