{% extends "skills/skill_card.html" %}

{% block title %}Tools{% endblock %}

{% block header_style %}
"color: #fff; background: url('/static/images/wrench_100_100.png') top right 0% no-repeat #2196F3;"
{% endblock %}

{% block body %}
	<span>Systems I've built with:</span>
	<ul>
		<li>Facebook Messenger Platform</li>
		<li>Samsung Smartthings</li>
		<li>Microsoft Azure</li>
		<li>Embeded Systems</li>
	</ul>
	<span>Frameworks I've used:</span>
	<ul>
		<li>.NET MVC</li>
		<li>Flask</li>
	</ul>
	<span>My development environments:</span>
	<ul>
		<li>Xcode</li>
		<li>Eclipse</li>
		<li>Visual Studio</li>
	</ul>
{% endblock %}